<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19105349592-7kivm1h8l8dv99fcn2gpko3pn795en1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19105349592-7kivm1h8l8dv99fcn2gpko3pn795en1h</string>
	<key>API_KEY</key>
	<string>AIzaSyCUvb9lbPs5fEflYb_2SZmTA0bks5FQTTo</string>
	<key>GCM_SENDER_ID</key>
	<string>19105349592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nutFlutter.prod</string>
	<key>PROJECT_ID</key>
	<string>nutgcp</string>
	<key>STORAGE_BUCKET</key>
	<string>nutgcp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19105349592:ios:d563daab796bf9cae2bcad</string>
</dict>
</plist>